wrappers/
**/node_modules
truffle/build/contracts
!wrappers/go.mod
!wrappers/go.sum
#Hardhat files
**/cache
**/artifacts
**/artifacts-types
**/factories
/hardhat/yarn.lock
/hardhat/yarn-error.log
**/.env
networks_env
wrappers-builder-gsn/wrappers-builder-gsn
wrappers-builder/wrappers-builder

.prettierrc
.DS_Store
.idea
.vscode
*.swp
hardhat/output_config_cdp.json
hardhat/output_config.json
hardhat/.openzeppelin/
hardhat/.openzeppelin.zip
hardhat/input_config.json
amm_pool
.openzeppelin
hardhat-dependency-compiler
coverage
coverage.json
scripts/**/*.json
contractsForTest
